@font-face {
  font-family: 'GangwonEdu_OTFBoldA';
  src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_2201-2@1.0/GangwonEdu_OTFBoldA.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

/* 전체 화면을 채우며 중앙 정렬 */
.container {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url('../../public/images/mainlogo3.png');
  background-size: cover; /* 화면 전체를 채움 */
  background-position: center; /* 중앙 정렬 */
  background-repeat: no-repeat; /* 반복 없음 */
}

/* 시작 버튼 스타일 (아래 중앙 정렬) */
.startButton {
  font-size: 5rem;
  border: none;
  border-radius: 8px;
  color: black;
  cursor: pointer;
  margin-top: 400px;
  transition: 0.3s;
  font-family: 'GangwonEdu_OTFBoldA';
}

.startButton:hover{
  text-decoration: underline;
}


/* 웹캠 */
.webcamContainer {
  width: 300px;
  height: 300px;
  overflow: hidden;
  border-radius: 10px;
  border: 2px solid #ccc;
  position: fixed;
  bottom: 20px;  
  right: 40px;
  background: white;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.2);
}

/* 웹캠 */
.webcamFeed {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* 스크롤 없애기 */
html,
body {
  overflow: hidden;
}